---
interface Props {
  title: string;
  imgUrl: string;
  slug: string;
  tran?: boolean;
}

const { imgUrl, title, slug, tran = true } = Astro.props;
---

<a
  class='inline-flex flex-col w-40 rounded-sm group transition hover:scale-105 hover:bg-bright'
  href={`/services/${slug}`}
>
  {
    tran ? (
      <>
        <img
          class='aspect-square object-cover w-full mx-auto border-detail border rounded-sm'
          src={imgUrl}
          alt={title}
          transition:name={slug + 'img'}
        />
        <p
          class='text-center text-bright py-3 group-hover:text-white transition-colors'
          transition:name={slug + 'title'}
        >
          {title}
        </p>
      </>
    ) : (
      <>
        <img
          class='aspect-square object-cover w-full mx-auto border-detail border rounded-sm'
          src={imgUrl}
          alt={title}
        />
        <p class='text-center text-bright py-3 group-hover:text-white transition-colors'>
          {title}
        </p>
      </>
    )
  }
</a>
