---
interface Props {
  title: string;
  imgUrl: string;
  slug: string;
}

const { imgUrl, title, slug } = Astro.props;
---

<a
  class='inline-flex flex-col w-40 group hover:scale-105 transition-transform'
  href={`/services/${slug}`}
  transition:name={slug}
>
  <img
    class='aspect-square object-cover w-full mx-auto border-detail border rounded-sm'
    src={imgUrl}
    alt={title}
    transition:name={slug + 'img'}
  />
  <p
    class='text-center text-bright py-3 group-hover:bg-bright group-hover:text-white transition-colors'
    transition:name={slug + 'title'}
  >
    {title}
  </p>
</a>
